.env
frontend/.env
backend/venv/
backend/__pycache__/
backend/routes/__pycache__/
backend/services/__pycache__/
backend/*.pyc
backend/.DS_Store
frontend/node_modules/
backend/serviceAccountKey.json
frontend/.DS_Store